
.about-container {
  background-color: var(--body_background);
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.about-heading {
  font-size: 4.875rem;
  font-weight: bold;
  margin-bottom: 4rem;
  color: orangered; 
}

.about-paragraph {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 1rem;
  color: var(--body_color); 
}
