.main-container1 {
  max-width: 100rem;
}

.custom-top-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 0.75rem;
  max-width: 100rem;
  margin: 0;
  margin-left: 50px;
}

.custom-heading {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1.2;
}

.custom-highlight {
  color: orangered;
}

.custom-description {
  color: #33373c;
  font-size: 1.2rem;
  line-height: 1.4;
}

.custom-link {
  font-size: 0.875rem;
  font-weight: bold;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
  margin-bottom: 20px;
}

.custom-link:hover {
  text-decoration: underline;
}

.custom-swiper-slide {
  max-width: 100rem;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .custom-swiper-slide {
    height: 300px; /* Adjust the height for smaller screens */
  }
}

.custom-listing-container {
  max-width: 75rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.custom-listing {
  margin-left: 50px;
  /* display: flex; */
  /* flex-direction: column; */
  /* width: calc(33.33% ); */
}

.custom-heading-secondary {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.custom-subheading {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-link-secondary {
  font-size: 0.875rem;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.custom-link-secondary:hover {
  text-decoration: underline;
}

/* .custom-list {
  display: flex;
  flex-direction: col; 
  gap: 3rem;
  max-width: 80rem;
} */


.custom-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow: hidden;
  max-width: 100rem; /* Hide any additional items */

}


@media screen and (max-width: 768px) {
  .custom-listing {
    max-width: 80rem; /* For smaller screens, each item takes full width */
  }
}
