.main-container1 {
  max-width: 100%;
  padding: 0 20px;
}

.custom-top-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
  margin: 0;
  padding: 20px 0; 
  margin-left: 50px;
}

.custom-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
}

.custom-highlight {
  color: orangered;
}

.custom-description {
  color: #33373c;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* .custom-link {
  font-size: 0.875rem;
  font-weight: bold;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
  margin-bottom: 10px;
} */

.custom-link:hover {
  text-decoration: underline;
}

.custom-swiper-slide {
  max-width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .custom-swiper-slide {
    height: 500px;
  }
}

.custom-listing-container {
  max-width: 100%;
  padding: 20px 0; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.custom-listing {
  margin-left: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* width: calc(33.33% ); */
}

.custom-heading-secondary {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.custom-subheading {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-link-secondary {
  font-size: 0.875rem;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.custom-link-secondary:hover {
  text-decoration: underline;
}

/* .custom-list {
  display: flex;
  flex-direction: col; 
  gap: 3rem;
  max-width: 80rem;
} */


/* .custom-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  max-width: 100rem; 

} */

.custom-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 900px){
  .custom-list {
    /* border: solid 2px black; */
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px){
  .custom-list {
    /* border: solid 2px black; */
    grid-template-columns: 1fr;
  }
}



@media screen and (min-width: 768px) {
  .custom-heading {
    font-size: 5.5rem;
  }

  

  .custom-swiper-slide {
    height: 500px;
  }

  .custom-list {
    flex-direction: row; 
    max-width: 100%;
  }
}