


.custom-top-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 0.75rem;
  max-width: 75rem;
  margin: 0;
}


.custom-heading {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1.2;
}


.custom-highlight {
  color: orangered;
}


.custom-description {
  color: #33373c;
  font-size: 1.2rem;
  line-height: 1.4;
}


.custom-link {
  font-size: 0.875rem;
  font-weight: bold;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
  margin-bottom: 20px;
}

.custom-link:hover {
  text-decoration: underline;
}


.custom-swiper-slide {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.custom-listing-container {
  /* border-color: aqua; */
  max-width: 75rem;
  /* margin: 0 auto; */
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}


.custom-listing {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: calc(33.33% ); */
}


.custom-heading-secondary {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}


.custom-subheading {
  font-size: 1.5rem;
  font-weight: bold;
}


.custom-link-secondary {
  font-size: 0.875rem;
  color: orangered;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.custom-link-secondary:hover {
  text-decoration: underline;
}


.custom-list {
  display: flex;
  flex-direction: row;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  gap: 3rem;

}
