

/* Profile Container */
.profile-container {
  padding: 1rem;
  max-width: 32rem;
  margin: 0 auto;
}

/* Profile Heading */
.profile-heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
}

/* Profile Form */
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Profile Image */
.profile-image {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  cursor: pointer;
  align-self: center;
  margin-top: 2rem;
}

/* Profile Text */
.profile-text {
  font-size: 0.875rem;
  align-self: center;
}

/* Error Text */
.error-text {
  color: #ff0000;
  margin-top: 1rem;
}

/* Success Text */
.success-text {
  color: #008000;
  margin-top: 1rem;
}

/* Profile Input */
.profile-input {
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
}

/* Profile Button */
.profile-button {
  background-color: black;
  color: #ffffff;
  border-radius: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.profile-button:hover {
  opacity: 0.95;
}

.profile-button:disabled {
  opacity: 0.8;
}

/* Profile Link */
.profile-link {
  background-color: orangered;
  color: #ffffff;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
}

.profile-link:hover {
  opacity: 0.95;
}

/* Profile Actions */
.profile-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

/* Delete Account */
.delete-account {
  color: orangered;
  font-weight: bold;
  cursor: pointer;
}

/* Sign Out */
.sign-out {
  color: orangered;
  font-weight: bold;
  cursor: pointer;
}

/* Show Listings Button */
.show-listings {
  background-color: #008000;
  color: black;
  padding: 0.7rem;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

/* User Listings Container */
.user-listings-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* User Listings Heading */
.user-listings-heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

/* User Listing */
.user-listing {
  border: 1px solid #000;
  border-radius: 0.375rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* User Listing Image */
.user-listing-image {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
}

/* User Listing Details */
.user-listing-details {
  color: #1a202c;
  font-weight: bold;
  text-decoration: none;
  flex: 1;
}

/* User Listing Actions */
.user-listing-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Delete Listing Button */
.delete-listing {
  background-color: orange;
  color: black;
  padding: 0.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

/* Edit Listing Button */
.edit-listing {
  background-color: green;
  color: black;
  padding: 0.4rem;
  border-radius: 0.8rem;
  margin-top: 10px;
  cursor: pointer;
}
