

/* SignIn Container */
.signin-container {
  background-color: var(--body_background); 
  padding: 1.125rem;
  max-width: 32rem;
  /* max-width: 100rem; */
  margin: auto;
}

/* SignIn Title */
.signin-title {
  color: var(--button-color-text);
  font-size: 3.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.75rem;
}

/* SignIn Form */
.signin-form {
  display: flex;
  flex-direction: column;
  /* max-width: 32rem; */
  gap: 1rem;
}

/* SignIn Input */
.signin-input {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0.75rem;
}

/* SignIn Button */
.signin-button {
  background-color: #4a5568;
  color: #ffffff;
  padding: 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.signin-button:disabled {
  opacity: 0.8;
}

/* SignIn Link */
.signin-link {
  color: var(--button-color-text);
  display: flex;
  gap: 2px;
  margin-top: 1rem;
}

/* SignIn Link Text */
.signin-link span {
  color: var(--link_color);
  cursor: pointer;
  display: flex;
  margin-top: 1rem;
  margin-left: 15px;
  
}

/* SignIn Error */
.signin-error {
  color: #e53e3e;
  margin-top: 1.25rem;
}
