

/* SignIn Container */
.signin-container {
  padding: 1.125rem;
  max-width: 32rem;
  margin: auto;
}

/* SignIn Title */
.signin-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.75rem;
}

/* SignIn Form */
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* SignIn Input */
.signin-input {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0.75rem;
}

/* SignIn Button */
.signin-button {
  background-color: #4a5568;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.signin-button:disabled {
  opacity: 0.8;
}

/* SignIn Link */
.signin-link {
  display: flex;
  gap: 2px;
  margin-top: 1rem;
}

/* SignIn Link Text */
.signin-link span {
  color: #3182ce;
  cursor: pointer;
  display: flex;
  margin-top: 1rem;
  margin-left: 15px;
  
}

/* SignIn Error */
.signin-error {
  color: #e53e3e;
  margin-top: 1.25rem;
}
