
.header-container {
  background-color: #efce81; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* max-width: 100rem; */
}

.header-content {
  max-width: 6xl;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hamburger menu icon  */

.header-menu-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
  margin-top: 13px;
  color: black;
  display: block; /* Show the icon for smaller screens */
}

/* hamburger menu icon */

.header-logo {
  text-decoration: none;
}

.header-title {
  font-weight: bold;
  font-size: 0.85rem;
  display: flex;
  flex-wrap: wrap;
}

.header-title-part1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.header-title-part2 {
  color: orangered;
  font-size: 15px;
  font-weight: bold; 
}

.header-search-form {
  background-color: #edf2f7; 
  padding: 0.75rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto; 

  @media (max-width: 600px){
    max-width: 100%;
  }
}

.header-search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.header-search-button {
  border: none;
  background: transparent;
  cursor: pointer;
  /* width: 10px; */
}

.header-search-icon {
  color: orangered; 
}

.header-navigation {

  /* font-size: 20px; */
  display: flex;
  gap: 1rem;
  list-style: none;


  margin: 0;
  padding: 0;
  flex-wrap: nowrap;


  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.header-navigation li {
  margin-right: 20px;
}

.header-navigation.open {
  /* Styles applied when the menu is open */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust as needed based on your header height */
  right: 0;
  left: 0; /* Adjust to make the menu cover the entire width */
  background-color: #efce81; /* Adjust the background color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the menu is on top of other elements */
}

.header-nav-item {
  margin-left: 10px;
  font-size: 25px;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: black; 
  font-weight: bold; 
  transition: color 0.3s ease;
}

.header-nav-link:hover {
  color: #2d3748; 
}

.header-profile-image {
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  object-fit: cover;
}

.header-signin {
  color: #4a5568; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-signin:hover {
  color: #2d3748; 
}










@media (min-width: 769px) {
  .header-menu-icon {
    display: none; /* Hide the hamburger icon for screens above 768px */
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .header-navigation {
    display: none; /* Hide the navigation links by default for smaller screens */
    width: 100%; /* Make the navigation full-width */
  }

  .header-navigation.open {
    display: flex; /* Show the navigation links when the menu is open */
  }

  .header-nav-item {
    /* margin: 10px 0; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

  }
  .header-nav-item-darkMode{
    margin-left: 10px;
  }
}

